body {
  margin: 0;
  color: white;
  overflow-x: hidden;
  font-family: 'DejaVu Sans', Arial, sans-serif;
  text-decoration: none;
  background: url(./assets/images/full-background.png) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@font-face {
  font-family: 'DejaVu Sans';
  src: url('./assets/fonts/dejavu-sans-webfont.woff2') format('woff2'),
       url('./assets/fonts//DejaVuSans.woff') format('woff');
}
