.content {
  position: fixed;
  z-index: 600;
}

/* Navbar.css */
.navbar {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 0, 0, 0));
  color: white;
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  transition: all 0.3s ease;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px 18px 18px;
  transition: padding 0.3s ease;
}

.navbar-logo img {
  width: 200px;
  transition: width 0.3s ease;
}

.navbar.scrolled .navbar-logo img {
  width: 100px;
  /* padding-right: 100px; */
}

.navbar-items {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 70px;
}

.navbar-item {
  text-decoration: none;
  color: white;
  font-size: 28px;
  transition: font-size 0.3s, color 0.3s;
}

.navbar.scrolled {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.050));
}

.navbar.scrolled .navbar-item {
  font-size: 25px;
}

.navbar-item:hover {
  color: greenyellow;
}


.auth-button {
  color: white;
  text-decoration: none;
  border-color: #80cc28;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  background-color: transparent;
  padding: 15px 40px 15px 40px;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: font-size 0.3s, padding 0.3s;
}

.auth-button:hover {
  color: #80cc28;
  border-color: transparent;
}

.navbar.scrolled .auth-button {
  font-size: 20px;
  padding: 10px 30px;
}

.notification-bell {
  position: relative;
  cursor: pointer;
}

.notification-bell svg {
  color: #333;
  transition: color 0.3s;
}

.notification-bell:hover svg {
  color:#80cc28;
}

.notification-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  z-index: 10;
  color: #333;
}

.notification-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-list li {
  padding: 8px;
  border-bottom: 1px solid #f0f0f0;
}

.notification-list li:last-child {
  border-bottom: none;
}

.notification-list p {
  text-align: center;
  font-size: 14px;
  color: #888;
} 
