.navbar {
  background-color: transparent; 
  color: white;        
  padding: 15px;        
  position: sticky;    
  top: 0;                  
  z-index: 1000;          
  width: 100%;    
  font-family:Verdana, Geneva, Tahoma, sans-serif;        
}

.navbar-container {
  display: flex;          
  justify-content: space-between;
  align-items: center; 
}

.navbar-logo {
  margin-right: auto;  
}

.navbar-logo img {
  width: 90px;         
  height: auto;  
}

.navbar-items {
  flex: 1;
  justify-content: center;
  text-align: center;
  list-style-type: none;  
  display: flex;      
  gap: 70px;      
  margin: 10px;   
}

.navbar-item {
  padding: 10px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}


.navbar.scrolled {
  background:linear-gradient(135deg,#2a9f5b,#1B4137);
  color: white;        
  padding: 15px;        
  position: sticky;    
  top: 0;                  
  z-index: 1000;          
  width: 100%; 
}

.navbar-item:hover {
  background-color: #fbfdfd;
  color: #055142;   
}
